/* line 3, ../sass/_global.scss */
.node h2,
.node h3,
.node h4,
.node h5,
.node h6,
.panel-pane h2,
.panel-pane h3,
.panel-pane h4,
.panel-pane h5,
.panel-pane h6 {
  font-weight: bold;
}
/* line 12, ../sass/_global.scss */
.node h2.tight, .node h3.tight, .node h4.tight, .node h5.tight, .node h6.tight,
.panel-pane h2.tight,
.panel-pane h3.tight,
.panel-pane h4.tight,
.panel-pane h5.tight,
.panel-pane h6.tight {
  margin-bottom: 0;
}
/* line 17, ../sass/_global.scss */
.node h3.tight + p,
.panel-pane h3.tight + p {
  margin-top: 0;
}
/* line 23, ../sass/_global.scss */
.node .container.light,
.panel-pane .container.light {
  background-color: #f7f7f7;
}
/* line 27, ../sass/_global.scss */
.node .container.border,
.panel-pane .container.border {
  border-left: solid 1px #eaeaea;
  border-top: solid 1px #eaeaea;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
}
/* line 38, ../sass/_global.scss */
.node figure figcaption,
.panel-pane figure figcaption {
  padding: 5px 0;
  font-size: .9em;
  color: #999;
}
/* line 44, ../sass/_global.scss */
.node figure table,
.panel-pane figure table {
  margin: 0;
  width: 100%;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}
/* line 53, ../sass/_global.scss */
.node figure table thead tr th, .node figure table thead tr tr,
.panel-pane figure table thead tr th,
.panel-pane figure table thead tr tr {
  text-align: center;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 63, ../sass/_global.scss */
.node figure table tbody tr td,
.panel-pane figure table tbody tr td {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 71, ../sass/_global.scss */
.node figure img,
.panel-pane figure img {
  width: 100%;
}
/* line 73, ../sass/_global.scss */
.node figure.factbox,
.panel-pane figure.factbox {
  border-top: solid 3px #359AD8;
  padding: 20px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #eee;
  background-color: #fcfcfc;
}
/* line 82, ../sass/_global.scss */
.node figure.factbox h3,
.panel-pane figure.factbox h3 {
  font-size: 1em;
  margin: 0;
  line-height: 1em;
}
/* line 88, ../sass/_global.scss */
.node figure.factbox p,
.panel-pane figure.factbox p {
  line-height: 1.2em;
}
/* line 95, ../sass/_global.scss */
.node blockquote,
.panel-pane blockquote {
  color: #555;
  padding: 0 40px;
  position: relative;
  max-width: 400px;
}
/* line 101, ../sass/_global.scss */
.node blockquote p,
.panel-pane blockquote p {
  margin: 0;
}
/* line 105, ../sass/_global.scss */
.node blockquote:before, .node blockquote:after,
.panel-pane blockquote:before,
.panel-pane blockquote:after {
  position: absolute;
  font-size: 5em;
  color: darkred;
  quotes: '\201c' '\201d';
}
/* line 113, ../sass/_global.scss */
.node blockquote:before,
.panel-pane blockquote:before {
  content: open-quote;
  top: 0;
  left: 0;
}
/* line 119, ../sass/_global.scss */
.node blockquote:after,
.panel-pane blockquote:after {
  content: close-quote;
  right: 0;
  bottom: 0px;
}
/* line 126, ../sass/_global.scss */
.node .box,
.panel-pane .box {
  text-align: center;
  background-color: #f8f8f8;
  padding: 50px 20px;
  font-weight: bold;
  margin: 10px;
}
@media all and (min-width: 480px) {
  /* line 3, ../sass/_minwidth-480.scss */
  .node .container,
  .panel-pane .container {
    padding: 20px;
    overflow: hidden;
  }
  /* line 8, ../sass/_minwidth-480.scss */
  .node .container.right,
  .panel-pane .container.right {
    float: right;
    margin: 10px 0 10px 10px;
  }
  /* line 13, ../sass/_minwidth-480.scss */
  .node .container.left,
  .panel-pane .container.left {
    float: left;
    margin: 10px 10px 10px 0;
  }
  /* line 18, ../sass/_minwidth-480.scss */
  .node .container.w10,
  .panel-pane .container.w10 {
    width: 10%;
  }
  /* line 19, ../sass/_minwidth-480.scss */
  .node .container.w20,
  .panel-pane .container.w20 {
    width: 20%;
  }
  /* line 20, ../sass/_minwidth-480.scss */
  .node .container.w25,
  .panel-pane .container.w25 {
    width: 25%;
  }
  /* line 21, ../sass/_minwidth-480.scss */
  .node .container.w30,
  .panel-pane .container.w30 {
    width: 30%;
  }
  /* line 22, ../sass/_minwidth-480.scss */
  .node .container.w33,
  .panel-pane .container.w33 {
    width: 33.33%;
  }
  /* line 23, ../sass/_minwidth-480.scss */
  .node .container.w40,
  .panel-pane .container.w40 {
    width: 40%;
  }
  /* line 24, ../sass/_minwidth-480.scss */
  .node .container.w50,
  .panel-pane .container.w50 {
    width: 50%;
  }
  /* line 25, ../sass/_minwidth-480.scss */
  .node .container.w60,
  .panel-pane .container.w60 {
    width: 60%;
  }
  /* line 26, ../sass/_minwidth-480.scss */
  .node .container.w75,
  .panel-pane .container.w75 {
    width: 75%;
  }
  /* line 29, ../sass/_minwidth-480.scss */
  .node .grid,
  .panel-pane .grid {
    display: table;
    width: 100%;
  }
  /* line 33, ../sass/_minwidth-480.scss */
  .node .grid .row,
  .panel-pane .grid .row {
    display: table-row;
  }
  /* line 36, ../sass/_minwidth-480.scss */
  .node .grid .row .cell,
  .panel-pane .grid .row .cell {
    display: table-cell;
  }
}
