/* line 3, ../sass/_global.scss */
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* line 12, ../sass/_global.scss */
h2.tight, h3.tight, h4.tight, h5.tight, h6.tight {
  margin-bottom: 0;
}

/* line 17, ../sass/_global.scss */
h3.tight + p {
  margin-top: 0;
}

/* line 23, ../sass/_global.scss */
.container.light {
  background-color: #f7f7f7;
}
/* line 27, ../sass/_global.scss */
.container.border {
  border-left: solid 1px #eaeaea;
  border-top: solid 1px #eaeaea;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
}

/* line 38, ../sass/_global.scss */
figure figcaption {
  padding: 5px 0;
  font-size: .9em;
  color: #999;
}
/* line 44, ../sass/_global.scss */
figure table {
  margin: 0;
  width: 100%;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}
/* line 53, ../sass/_global.scss */
figure table thead tr th, figure table thead tr tr {
  text-align: center;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 63, ../sass/_global.scss */
figure table tbody tr td {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 71, ../sass/_global.scss */
figure img {
  width: 100%;
}
/* line 73, ../sass/_global.scss */
figure.factbox {
  border-top: solid 3px #359AD8;
  padding: 20px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #eee;
  background-color: #fcfcfc;
}
/* line 82, ../sass/_global.scss */
figure.factbox h3 {
  font-size: 1em;
  margin: 0;
  line-height: 1em;
}
/* line 88, ../sass/_global.scss */
figure.factbox p {
  line-height: 1.2em;
}

/* line 95, ../sass/_global.scss */
blockquote {
  color: #555;
  padding: 0 40px;
  position: relative;
  max-width: 400px;
}
/* line 101, ../sass/_global.scss */
blockquote p {
  margin: 0;
}
/* line 105, ../sass/_global.scss */
blockquote:before, blockquote:after {
  position: absolute;
  font-size: 5em;
  color: darkred;
  quotes: '\201c' '\201d';
}
/* line 113, ../sass/_global.scss */
blockquote:before {
  content: open-quote;
  top: 0;
  left: 0;
}
/* line 119, ../sass/_global.scss */
blockquote:after {
  content: close-quote;
  right: 0;
  bottom: 0px;
}

/* line 126, ../sass/_global.scss */
.box {
  text-align: center;
  background-color: #f8f8f8;
  padding: 50px 20px;
  font-weight: bold;
  margin: 10px;
}

@media all and (min-width: 480px) {
  /* line 3, ../sass/_minwidth-480.scss */
  .container {
    padding: 20px;
    overflow: hidden;
  }
  /* line 8, ../sass/_minwidth-480.scss */
  .container.right {
    float: right;
    margin: 10px 0 10px 10px;
  }
  /* line 13, ../sass/_minwidth-480.scss */
  .container.left {
    float: left;
    margin: 10px 10px 10px 0;
  }
  /* line 18, ../sass/_minwidth-480.scss */
  .container.w10 {
    width: 10%;
  }
  /* line 19, ../sass/_minwidth-480.scss */
  .container.w20 {
    width: 20%;
  }
  /* line 20, ../sass/_minwidth-480.scss */
  .container.w25 {
    width: 25%;
  }
  /* line 21, ../sass/_minwidth-480.scss */
  .container.w30 {
    width: 30%;
  }
  /* line 22, ../sass/_minwidth-480.scss */
  .container.w33 {
    width: 33.33%;
  }
  /* line 23, ../sass/_minwidth-480.scss */
  .container.w40 {
    width: 40%;
  }
  /* line 24, ../sass/_minwidth-480.scss */
  .container.w50 {
    width: 50%;
  }
  /* line 25, ../sass/_minwidth-480.scss */
  .container.w60 {
    width: 60%;
  }
  /* line 26, ../sass/_minwidth-480.scss */
  .container.w75 {
    width: 75%;
  }

  /* line 29, ../sass/_minwidth-480.scss */
  .grid {
    display: table;
    width: 100%;
  }
  /* line 33, ../sass/_minwidth-480.scss */
  .grid .row {
    display: table-row;
  }
  /* line 36, ../sass/_minwidth-480.scss */
  .grid .row .cell {
    display: table-cell;
  }
}
