@import "config";

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  &.tight {
    margin-bottom: 0;
  }
}

h3.tight + p {
  margin-top: 0;
}

.container {

  &.light {
    background-color: darken($container-background-color, 3);
  }

  &.border {
    border-left: solid 1px lighten(#ddd, 5);
    border-top: solid 1px lighten(#ddd, 5);
    border-right: solid 1px darken(#ddd, 10);
    border-bottom: solid 1px darken(#ddd, 10);
  }

}

figure {

  figcaption {
    padding: 5px 0;
    font-size: .9em;
    color: #999;
  }

  table {
    margin: 0;
    width: 100%;

    border-top: solid 1px $table-border-color;
    border-left: solid 1px $table-border-color;

    thead {
      tr {
        th, tr {
          text-align: center;
          border-right: solid 1px $table-border-color;
          border-bottom: solid 1px $table-border-color;
        }
      }
    }

    tbody {
      tr {
        td {
          border-right: solid 1px $table-border-color;
          border-bottom: solid 1px $table-border-color;
        }
      }
    }
  } // /table

  img { width: 100%; }

  &.factbox {
    border-top: solid 3px #359AD8;
    padding: 20px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #eee;

    background-color: #fcfcfc;

    h3 {
      font-size: 1em;
      margin: 0;
      line-height: 1em;
    }

    p {
      line-height: 1.2em;
    }
  }

} // /figure

blockquote {
  color: #555;
  padding: 0 40px;
  position: relative;
  max-width: 400px;

  p {
    margin: 0;
  }

  &:before,
  &:after {
    position: absolute;
    font-size: 5em;
    color: darkred;
    quotes: '\201c' '\201d';
  }

  &:before {
    content: open-quote;
    top: 0;
    left: 0;
  }

  &:after {
    content: close-quote;
    right: 0;
    bottom: 0px;
  }
} // blockquote

.box {
  text-align: center;
  background-color: #f8f8f8;
  padding: 50px 20px;
  font-weight: bold;
  margin: 10px;
}






