
@media all and (min-width: 480px) {
  .container {

    padding: 20px;
    overflow: hidden;

    &.right {
      float: right;
      margin: $container-margin 0 $container-margin $container-margin;
    }

    &.left {
      float: left;
      margin: $container-margin $container-margin $container-margin 0;
    }

    &.w10 { width: 10%; }
    &.w20 { width: 20%; }
    &.w25 { width: 25%; }
    &.w30 { width: 30%; }
    &.w33 { width: 33.33%; }
    &.w40 { width: 40%; }
    &.w50 { width: 50%; }
    &.w60 { width: 60%; }
    &.w75 { width: 75%; }
  } // /.container

  .grid {
    display: table;
    width: 100%;

    .row {
      display: table-row;

      .cell {
        display: table-cell;
      }
    }
  }
}
